body{
    background-color: lightskyblue
}
#isosceless{
    width: 0; 
    border-right: 300px solid transparent;
    border-left:300px solid transparent;
    border-bottom:400px solid black;
    
}
   
  